* {
    margin: 4px;
}

body {
    font-family: airal, sans-serif;
    margin: 0px 150px;
}

header {
    font-family: 'arial black', sans-serif;
    font-size: 40px;
}

.choices {
    width: 22.5%;
    height: 75px;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    box-sizing:  border-box;
    border-radius: 5px;
    border: dashed 1.5px silver;
}

.Choice {
    margin: 10px;
    padding: 10px;
    border-bottom:  solid 3px crimson;
}

.card {
    margin: 0px 50px;
    font-size: 10px;

}

.must {
    background-color: firebrick;
    border: solid 3px firebrick;
    color: white;
    border-radius: 3px;
    font-size: 10px;
}

input.input {
    height: 20px;
    width: 100px;
    background-color: mistyrose;
}


#buy {
    display: block;
    color: white;
    background-color: crimson;
    border: solid 2px silver;
    margin: 0 auto;
    width: 300px;
    font-size: 17.5px;
    text-align: center;
    border-bottom: solid 2px gray;
    text-decoration: none;
}
#buy:active {
    -weblit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}
