p { /* IBlueMの文字 */
    text-align: center;
    font-size: 80px;
    margin: 40px;
    font-family: 'Comic Sans MS', sans-serif;
    color: royalblue;
}

.text { /* 検索ワードをいれる領域 */
    margin: 0 auto;
    padding: 0.5em 1em;
    border: solid 1px gainsboro;
    border-radius: 30px;
    width: 550px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

input.before { /* .text内のテキストボックス */
    border-width: 0px;
    border-style: none;
    font-size: 20px;
    background-color: white;
    width: 500px;
    height: 30px;
}

#search { /* 検索ボタン */
    display: block;
    color: gray;
    border: solid 0.5px dimgray;
    border-radius: 3px;
    margin: 0 auto;
    width: 100px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}
#search:active {
    -weblit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

.ibluem { /* 検索後のIBlueMの文字 */
    font-size: 40px;
    margin: 5px 20px;
    font-family: 'Comic Sans MS', sans-serif;
    color: royalblue;
    display: inline-block;
}

.Text { /* 検索ワードをいれる領域(遷移後) */
    margin: 0px 30px;
    padding: 0.5em 1em;
    border: solid 1px gainsboro;
    border-radius: 30px;
    height: 30px;
    width: 600px;
    display: inline-block;
    vertical-align: bottom;
}

input.after { /* .text内のテキストボックス */
    border-width: 0px;
    border-style: none;
    font-size: 16px;
    background-color: white;
    width: 570px;
    height: 20px;
}

.title { /* 検索結果タイトル */
    font-size: 22px;
    color: darkblue;
    text-decoration: underline;
}

.main { /* 検索結果本文 */
    font-size: 13px;
    color: gray;
}

.result {
    margin: 0px 200px;
    width: 650px;
}

.bold {
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 6px;
}

hr {
   border-width: 1px 0px 0px 0px;
   border-style: solid;
   border-color: gainsboro;
}
